spring:
  datasource:
    url: jdbc:h2:tcp://localhost/C:\Users\knc21\Desktop\study\h2\bin/kncshop
    username: sa
    password: 1234
    driver-class-name: org.h2.Driver
  security:
    user:
      name: 1
      password: 1
  mvc:
    view:
      suffix: .html

#  jpa:
#    hibernate:
#      ddl-auto: create
#    properties:
#      hibernate:
#        format_sql: true
#        default_batch_fetch_size: 100
#
#logging.level:
#  org.hibernate.SQL: debug
logging:
  pattern:
   console: "[%d{HH:mm:ss.SSS}][%-5level][%logger.%method:line%line] - %msg%n"
  level:
    org:
      springframework: DEBUG

