spring:
  datasource:
    url: jdbc:mariadb://127.0.0.1:3306/kncshop
    username: chul
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
  security:
    user:
      name: 1
      password: 1
  mvc:
    view:
      suffix: .html

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
#    defer-datasource-initialization: true

logging.level:
  org.hibernate.SQL: debug
#logging:
#  pattern:
#   console: "[%d{HH:mm:ss.SSS}][%-5level][%logger.%method:line%line] - %msg%n"
#  level:
#    org:
#      springframework: DEBUG

jwt:
  header: Authorization
  secret: VGVzdFNlY3JldEtleeyYpOuKmOydgOyatOuPme2VmOyngOunkOqzoOynkeqwgOyEnOqzteu2gO2VmOqzoOyekOyVvOyngA==
  token-validity-in-seconds: 86400
