ul {
    list-style: none;
    text-align: center;
}
li {
    display:inline-block;
}

.hidden {
    visibility: hidden;
}

.join-title {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.nav-header {
    background-color: #99CCFF;
    height: 100px;
}

.nav-content {

}

.nav-footer {

}
